{% extends 'layout.html'%}
{% block title %}Interested categories{% endblock %}
{% block body %}
    <div class="container">
        <div style="margin-top: 20%">
            <form method="post" action="{{ url_for('interested_categories')}}">
                <div class="row">
                    {% for cat in categories %}
                        <label class="col s6 m4 l3 xl3">
                            <input type="checkbox" value="{{ cat.category_name }}" name="category"/>
                            <span>{{ cat.category_name }}</span>
                        </label>
                     {% endfor %}
                </div>
            <button class="btn" type="submit" value="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}